div {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align items horizontally in the flex container */
  text-align: center; /* Ensure text is centered */
  color: lightgray;
}

h1 {
  font-weight: bold; /* Ensures the h1 text is bold */
  /* The color will inherit lightgray from the div */
}

img {
  display: block;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  width: 100%; /* Take the full width of its parent container */
}
