.animal-gallery {
  height: 100vh; /* Adjust based on your desired fixed height */
  overflow-y: auto; /* Enables vertical scrolling */
  border-radius: 8px; /* Optional, rounds the corners of the container */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Adjusts the gap between grid items */
  height: calc(
    100vh - 100px
  ); /* Adjust if you have other page elements like headers or footers */
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}

.placeholder-card {
  height: 275px;
  background-color: #343d46;
  border-radius: 10px;
  font-size: 100px;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
